.btn{
    padding: .5rem;
    margin-right: 1rem;
    background: $color-light;
    border: 1px solid $color-brand;
    border-radius: .5rem;
    color: $color-brand;
    @include font(1.6rem, 140%, 500);
    text-align: center;
    text-transform: uppercase;
    @extend %transition;
    cursor: pointer;
    &__activated{
      box-shadow: 0 0 10px $color-brand;
    }
    &:hover{
        background: $color-brand;
        color: $color-light;
    }
}