.cart{
  display: flex;
  padding: 3%;
  height: 80vh;
  width: 100%;
  gap: 3%;

  &__products{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width:75%;
      background-color : $color-background;
      border-radius: 1rem;


      .cart__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        &_title{
          margin: 0;
        }


        .cart__pagination {
          display: flex;
          flex: 0 1 45%;
          justify-content: center;
          align-items: center;

          &_title {
            display: flex;
            align-items: center;
            margin: 0;
          }

          &_per-page {
           width: 3rem;
           height: 3.1rem;
           padding: 0;
           @include font(2rem, 2.4rem, 400);
           text-align: center;
          }
          &_per-page::-webkit-outer-spin-button,
          &_per-page::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }

          .cart__pages {
            display: flex;
            flex: 0 1 60%;
            justify-content: center;
            align-items: center;
            @include font(2rem, 2.4rem, 400);

            &_current{
              width: 3rem;
              text-align: center;
            }
          }
        }        
      }

      .cart__head::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 90%;
        bottom: -0.75rem;
        left: calc( 50% - 45%);
        background-color: $color-border;
        border-radius: 1px;
        @extend %transition;
      }     

      .cart__list {
        overflow: overlay;
      }
      .cart__list::-webkit-scrollbar {
        display: none;
      }
  }
  &__products:hover {    

    & > .cart__head::before {
      height: 3px;       
      width: 100%;        
      left: calc( 50% - 50%);
      background-color: $color-brand-opacity;
      @extend %transition;        
    }

  }


  &__summary{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      text-align: center;       
      width:25%;
      padding: 1rem;      
      background-color : $color-background;
      border-radius: 1rem;

      .summary__head {
        position: relative;
        width: 100%;
        margin: 1rem 0 1.5rem 0;
      }
      .summary__head::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 80%;
        bottom: -1.4rem;
        left: calc( 50% - 40%);
        background-color: $color-border;
        border-radius: 1px;
        @extend %transition;
      }
      

      .summary__description{

        .summary__products_input{          
          text-transform: lowercase;
        }

        .summary__buy {
          margin-top: 2rem;
        }
      } 
  }
  &__summary:hover {    

    & > .summary__head::before { 
      height: 3px;       
      width: 100%;        
      left: calc( 50% - 50%);
      background-color: $color-brand-opacity;
      @extend %transition;        
    }

  }
}