$color-brand: #009789;
$color-light: #FFF;
$color-background: #f5f5f5;
$color-text: #444444;
$color-error: #cf2828;
$color-border: #44444448;

$content-width: 1640px;
$laptop-width: 1000px;
$tablet-width: 768px;
$mobile-width: 640px;

@keyframes copying {
  from {width: 0% }
  50% {width: 50% }
  to {width: 100% }
}